/*=============================
	Global CSS 
===============================*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
}

#scrollUp {
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    background: #004AAD;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #00000026;
}

#scrollUp:hover {
    background: #2C2D3F;
}


/*=============================
	End Global CSS 
===============================*/


/*===================
	Start Header CSS 
=====================*/

.header {
    background-color: #fff;
    position: relative;
}

.header .navbar-collapse {
    padding: 0;
}


/* Topbar */

.header .topbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .topbar {
    padding: 15px 0;
}

.header .top-link {
    float: left;
}

.header .top-link li {
    display: inline-block;
    margin-right: 15px;
}

.header .top-link li:last-child {
    margin-right: 0px;
}

.header .top-link li a {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 400;
}

.header .top-link li:hover a {
    color: #1A76D1;
}

.header .top-contact {
    float: right;
}

.header .top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2C2D3F;
}

.header .top-contact li:last-child {
    margin-right: 0;
}

.header .top-contact li a {
    font-size: 14px;
}

.header .top-contact li a:hover {
    color: #1A76D1;
}

.header .top-contact li i {
    color: #1A76D1;
    margin-right: 8px;
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%;
}

.get-quote {
    margin-top: 12px;
}

.get-quote .btn {
    color: #fff;
}

.header .logo {
    color: #2C2D3F;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
}

.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 0px;
    min-height: 0px;
}

.header .nav li {
    margin-right: 15px;
    float: left;
    position: relative;
}

.header .nav li:last-child {
    margin: 0;
}

.header .nav li a {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
}

.header .nav li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #1A76D1;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header .nav li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav li.active a {
    color: #1A76D1;
}

.header .nav li:hover a:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav li:hover a {
    color: #1a76d1;
}

.header .nav li a i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}


/* Middle Header */

.header.style2 .header-inner {
    border-top: 1px solid #eee;
}

.header.style2 .logo {
    margin-top: 6px;
}

.header .middle-header {
    background: #fff;
    padding: 20px 0px;
}

.header .widget-main {
    float: right;
}

.header.style2 .get-quote {
    margin-top: 0;
}

.header .single-widget {
    position: relative;
    float: left;
    margin-right: 30px;
    padding-left: 55px;
}

.header .single-widget:last-child {
    margin: 0;
}

.header .single-widget .logo {
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.header .single-widget i {
    position: absolute;
    left: 0;
    top: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    background: #1A76D1;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.header .single-widget h4 {
    font-size: 15px;
    font-weight: 500;
}

.header .single-widget p {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header .single-widget.btn {
    margin-left: 0;
}


/* Dropdown Menu */

.header .nav li .dropdown {
    background: #fff;
    width: 220px;
    position: absolute;
    left: -20px;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    transform-origin: 0 0 0;
    transform: scaleY(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    top: 74px;
    border-left: 3px solid #2889e4;
}

.header .nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .nav li .dropdown li {
    float: none;
    margin: 0;
    border-bottom: 1px dashed #eee;
}

.header .nav li .dropdown li:last-child {
    border: none;
}

.header .nav li .dropdown li a {
    padding: 12px 15px;
    color: #666;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .nav li .dropdown li a:before {
    display: none;
}

.header .nav li .dropdown li:last-child a {
    border-bottom: 0px;
}

.header .nav li .dropdown li:hover a {
    color: #1A76D1;
}

.header .nav li .dropdown li a:hover {
    border-color: transparent;
}


/* Right Bar */

.header.style2 .main-menu {
    display: inline-block;
    float: left;
}

.header .right-bar {
    float: right;
}

.header .right-bar {
    padding-top: 20px;
}

.header .right-bar {
    display: inline-block;
}

.header .right-bar a {
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #1a76d1;
    border-radius: 4px;
    display: block;
    font-size: 12px;
}

.header .right-bar li a:hover {
    color: #fff;
    background: #27AE60;
}

.header .search-top.active .search i:before {
    content: "\eee1";
    font-size: 15px;
}


/*=========================
	End Header CSS
===========================*/


/*===========================
	Start Hero Area CSS
=============================*/

.foto .single-foto {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto .single-foto .text {
    margin-top: 120px;
}

.slider.index2 .single-foto .text {
    margin-top: 150px;
}

.foto .single-foto h1 {
    color: #2C2D3F;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.foto .single-foto h1 span {
    color: #1a76d1;
}

.foto .single-foto p {
    color: #2C2D3F;
    margin-top: 27px;
    font-weight: 400;
}

.foto .single-foto .button {
    margin-top: 30px;
}

.foto .single-foto .btn {
    color: #fff;
    background: #1a76d1;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.foto .single-foto .btn:last-child {
    margin: 0;
}

.foto .single-foto .btn.primary {
    background: #2C2D3F;
    color: #fff;
}

.foto .single-foto .btn.primary:before {
    background: #1A76D1;
}

.foto .owl-carousel .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

.foto .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #1A76D1;
    color: #fff;
    font-size: 26px;
    position: absolute;
    margin: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0;
    border-radius: 50%;
}

.foto .owl-carousel .owl-nav div:hover {
    background: #2C2D3F;
    color: #fff;
}

.foto .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 20px;
}

.foto .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 20px;
}


/* Slider Animation */

.owl-item.active .single-foto h1 {
    animation: fadeInUp 1s both 0.6s;
}

.owl-item.active .single-foto p {
    animation: fadeInUp 1s both 1s;
}

.owl-item.active .single-foto .button {
    animation: fadeInDown 1s both 1.5s;
}


/*===========================
	End Hero Area CSS
=============================*/


/* testimonial section start */

.customer_section {
    width: 100%;
    float: left;
}

.customer_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #001431;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.customer_section_2 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.box_main {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 0px 50px 0px 50px;
}

.customer_text {
    width: 100%;
    font-size: 14px;
    color: #737372;
    margin: 0 auto;
}

.quick_icon {
    float: right;
}

.customer_main {
    width: 100%;
    /* margin-top: 50px; */
}

.customer_left {
    width: 30%;
    float: left;
}

.customer_right {
    width: 70%;
    float: left;
    margin-top: 40px;
}

.customer_name {
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #004AAD;
}

.enim_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #001431;
    margin: 20px 0px 0px 0px;
}

#my_slider a.carousel-control-prev {
    left: 100px;
    top: 190px;
}

#my_slider a.carousel-control-next {
    right: 100px;
    top: 190px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #001431;
    opacity: 1;
    font-size: 18px;
    color: #ffffff;
    border-radius: 100%;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #004AAD
}


/* testimonial section end */