/*=============================
	Global CSS 
===============================*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888;
}

#scrollUp {
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    background: #004aad;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #00000026;
}

#scrollUp:hover {
    background: #2c2d3f;
}


/*=============================
	End Global CSS 
===============================*/


/*===================
	Start Header CSS 
=====================*/

.header {
    background-color: #fff;
    position: relative;
}

.header .navbar-collapse {
    padding: 0;
}


/* Topbar */

.header .topbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .topbar {
    padding: 15px 0;
}

.header .top-link {
    float: left;
}

.header .top-link li {
    display: inline-block;
    margin-right: 15px;
}

.header .top-link li:last-child {
    margin-right: 0px;
}

.header .top-link li a {
    color: #2c2d3f;
    font-size: 14px;
    font-weight: 400;
}

.header .top-link li:hover a {
    color: #004aad;
}

.header .top-contact {
    float: right;
}

.header .top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2c2d3f;
}

.header .top-contact li:last-child {
    margin-right: 0;
}

.header .top-contact li a {
    font-size: 14px;
}

.header .top-contact li a:hover {
    color: #004aad;
}

.header .top-contact li i {
    color: #004aad;
    margin-right: 8px;
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%;
}

.get-quote {
    margin-top: 12px;
}

.get-quote .btn {
    color: #fff;
}

.header .logo {
    color: #2c2d3f;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
}

.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 0px;
    min-height: 0px;
}

.header .nav li {
    margin-right: 15px;
    float: left;
    position: relative;
}

.header .nav li:last-child {
    margin: 0;
}

.header .nav li a {
    color: #2c2d3f;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
}

.header .nav li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #004aad;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header .nav li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav li.active a {
    color: #004aad;
}

.header .nav li:hover a:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav li:hover a {
    color: #004aad;
}

.header .nav li a i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}


/* Middle Header */

.header.style2 .header-inner {
    border-top: 1px solid #eee;
}

.header.style2 .logo {
    margin-top: 6px;
}

.header .middle-header {
    background: #fff;
    padding: 20px 0px;
}

.header .widget-main {
    float: right;
}

.header.style2 .get-quote {
    margin-top: 0;
}

.header .single-widget {
    position: relative;
    float: left;
    margin-right: 30px;
    padding-left: 55px;
}

.header .single-widget:last-child {
    margin: 0;
}

.header .single-widget .logo {
    margin: 0;
    padding: 0;
    margin-top: 7px;
}

.header .single-widget i {
    position: absolute;
    left: 0;
    top: 6px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    background: #004aad;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.header .single-widget h4 {
    font-size: 15px;
    font-weight: 500;
}

.header .single-widget p {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.header .single-widget.btn {
    margin-left: 0;
}


/* Dropdown Menu */

.header .nav li .dropdown {
    background: #fff;
    width: 220px;
    position: absolute;
    left: -20px;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    transform-origin: 0 0 0;
    transform: scaleY(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    top: 74px;
    border-left: 3px solid #2889e4;
}

.header .nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .nav li .dropdown li {
    float: none;
    margin: 0;
    border-bottom: 1px dashed #eee;
}

.header .nav li .dropdown li:last-child {
    border: none;
}

.header .nav li .dropdown li a {
    padding: 12px 15px;
    color: #666;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .nav li .dropdown li a:before {
    display: none;
}

.header .nav li .dropdown li:last-child a {
    border-bottom: 0px;
}

.header .nav li .dropdown li:hover a {
    color: #004aad;
}

.header .nav li .dropdown li a:hover {
    border-color: transparent;
}


/* Right Bar */

.header.style2 .main-menu {
    display: inline-block;
    float: left;
}

.header .right-bar {
    float: right;
}

.header .right-bar {
    padding-top: 20px;
}

.header .right-bar {
    display: inline-block;
}

.header .right-bar a {
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #004aad;
    border-radius: 4px;
    display: block;
    font-size: 12px;
}

.header .right-bar li a:hover {
    color: #fff;
    background: #27ae60;
}

.header .search-top.active .search i:before {
    content: "\eee1";
    font-size: 15px;
}


/* Header Sticky */

.header.sticky .header-inner {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: initial;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    animation: fadeInDown 0.5s both 0.1s;
    box-shadow: 0px 0px 13px #00000054;
}


/*=========================
	End Header CSS
===========================*/


/*===========================
	Start Hero Area CSS
=============================*/

.foto .single-foto {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto .single-foto .text {
    margin-top: 120px;
}

.slider.index2 .single-foto .text {
    margin-top: 150px;
}

.foto .single-foto h1 {
    color: #2c2d3f;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 42px;
}

.foto .single-foto h1 span {
    color: #004aad;
}

.foto .single-foto p {
    color: #2c2d3f;
    margin-top: 27px;
    font-weight: 400;
}

.foto .single-foto .button {
    margin-top: 30px;
}

.foto .single-foto .btn {
    color: #fff;
    background: #004aad;
    font-weight: 500;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.foto .single-foto .btn:last-child {
    margin: 0;
}

.foto .single-foto .btn.primary {
    background: #2c2d3f;
    color: #fff;
}

.foto .single-foto .btn.primary:before {
    background: #004aad;
}

.foto .owl-carousel .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

.foto .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #004aad;
    color: #fff;
    font-size: 26px;
    position: absolute;
    margin: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0;
    border-radius: 50%;
}

.foto .owl-carousel .owl-nav div:hover {
    background: #2c2d3f;
    color: #fff;
}

.foto .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 20px;
}

.foto .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 20px;
}


/* Slider Animation */

.owl-item.active .single-foto h1 {
    animation: fadeInUp 1s both 0.6s;
}

.owl-item.active .single-foto p {
    animation: fadeInUp 1s both 1s;
}

.owl-item.active .single-foto .button {
    animation: fadeInDown 1s both 1.5s;
}


/*===========================
	End Hero Area CSS
=============================*/


/* testimonial section start */

.customer_section {
    width: 100%;
    float: left;
}

.customer_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #001431;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.customer_section_2 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.box_main {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 0px 50px 0px 50px;
}

.customer_text {
    width: 100%;
    font-size: 14px;
    color: #737372;
    margin: 0 auto;
}

.quick_icon {
    float: right;
}

.customer_main {
    width: 100%;
    /* margin-top: 50px; */
}

.customer_left {
    width: 30%;
    float: left;
}

.customer_right {
    width: 70%;
    float: left;
    margin-top: 40px;
}

.customer_name {
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #004aad;
}

.enim_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #001431;
    margin: 20px 0px 0px 0px;
}

#my_slider a.carousel-control-prev {
    left: 100px;
    top: 190px;
}

#my_slider a.carousel-control-next {
    right: 100px;
    top: 190px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #001431;
    opacity: 1;
    font-size: 18px;
    color: #ffffff;
    border-radius: 100%;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #004aad;
}


/* testimonial section end */


/*===================
	Why choose CSS
=====================*/

.why-choose .choose-left h3 {
    font-size: 24px;
    font-weight: 600;
    color: #2c2d3f;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 24px;
}

.why-choose .choose-left h3:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: #1a76d1;
}

.why-choose .choose-left p {
    margin-bottom: 10px;
}

.why-choose .choose-left .list {}

.why-choose .choose-left .list li {
    color: #868686;
    /* margin-bottom: 12px; */
}

.why-choose .choose-left .list li:last-child {
    margin-bottom: 0px;
}

.why-choose .choose-left .list li i {
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: #1a76d1;
    color: #fff;
    font-size: 14px;
    border-radius: 100%;
    padding-left: 2px;
    margin-right: 5px;
}


/* Start Faq CSS */

.why-choose {
    background: #fff;
}

.why-choose .choose-right {
    height: 100%;
    width: 100%;
    /* background-image: url("img/bg.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.why-choose .choose-right .video {
    color: #fff;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    font-size: 21px;
    background: #1a76d1;
    padding-left: 4px;
}

.why-choose .choose-right .video:hover {
    transform: scale(1.1);
}

.why-choose .video-image .waves-block .waves {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.why-choose .video-image .waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.why-choose .video-image .waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.why-choose .video-image .waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}


/*=======================
	End Why choose CSS
=========================*/


/*==========================
	Start Portfolio CSS
============================*/

.portfolio {
    background: #fdfdfd;
}

.portfolio .single-pf {
    position: relative;
}

.portfolio .single-pf img {
    height: 100%;
    width: 100%;
}

.portfolio .single-pf:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #1a76d1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1;
}

.portfolio .single-pf:hover:before {
    opacity: 0.7;
    visibility: visible;
}

.portfolio .single-pf .btn {
    color: #1a76d1;
    z-index: 3;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 48px;
    width: 150px;
    text-align: center;
    line-height: 48px;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    margin-left: -75px;
    margin-top: -24px;
    border-radius: 4px;
}

.portfolio .single-pf:hover .btn {
    opacity: 1;
    visibility: visible;
}

.portfolio .single-pf .btn:hover {
    color: #fff;
}

.portfolio .owl-nav {
    display: none;
}


/* Slider Nav */

.pf-details .image-slider .owl-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
}

.pf-details .image-slider .owl-carousel .owl-nav div {
    height: 50px;
    width: 50px;
    line-height: 45px;
    background: #fff;
    color: #1a76d1;
    position: absolute;
    margin: 0;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 10px #0000001a;
}

.pf-details .image-slider .owl-carousel .owl-nav div:hover {
    color: #fff;
    background: #1a76d1;
}

.pf-details .image-slider .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 20px;
}

.pf-details .image-slider .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 20px;
}

.pf-details .image-slider {
    border-radius: 8px 8px 0 0;
}

.pf-details .image-slider img {
    height: 100%;
    width: 100%;
}

.pf-details .date {
    background: #1a76d1;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 0;
    border: none;
    margin: 0;
    margin-top: -1px;
}

.pf-details .date ul li {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-right: 60px;
}

.pf-details .date ul li:last-child {
    margin: 0;
}

.pf-details .date ul li span {
    font-weight: 500;
    display: inline-block;
    margin-right: 5px;
}

.pf-details .body-text {}

.pf-details .body-text h3 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
}

.pf-details .body-text p {
    margin-top: 20px;
}

.pf-details .body-text .share {
    margin-top: 40px;
}

.pf-details .body-text .share h4 {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
}

.pf-details .body-text .share ul {
    display: inline-block;
    margin-left: 12px;
}

.pf-details .body-text .share ul li {
    display: inline-block;
    margin-right: 10px;
}

.pf-details .body-text .share ul li:last-child {
    margin-right: 0;
}

.pf-details .body-text .share ul li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #c8c8c8;
    color: #757575;
    display: block;
    border-radius: 50%;
}

.pf-details .body-text .share ul li a:hover {
    color: #fff;
    border-color: transparent;
    background: #1a76d1;
}


/*==========================
	End Portfolio CSS
============================*/